
.header-title-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section-add-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

h1{
  font-size: 1rem;
}
h2{
  font-size: 0.75rem;
}


