:root{
  --varCoral: #FF7F50;
  --varWhite: #FFF;
  --varBlueLight: #fcede8;

}

h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
}
fieldset{
  display: flex;
    flex-direction: column;
}

#mssg{
  color: var(--varCoral);
  font-weight: 600;
}

@media only screen and (min-width: 600px) {
  main {
    max-width: 600px;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
}



